* {
    box-sizing: border-box;
    background-color: #2b2d30;
  }
  
  h1 {
    color: white;
    font: 1.5em "Dosis", sans-serif;
    letter-spacing: 1px;
    text-align: center;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .container .buttons {
    display: flex;
    flex-direction: column;
  }
  .container a {
    padding: 15px 20px;
    font: 13px "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin: 1em;
  }
  .container a:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }
  
  .button1 {
    color: white;
    background-color: #2d7eff;
    border: 5px solid transparent;
    transition: 0.2s ease;
    border-radius: 50px;
  }
  
  .button1:hover {
    color: #2d7eff;
    background-color: white;
    transform: scale(1.1);
    border: 5px solid #2d7eff;
  }
  
  .button2 {
    color: black;
    background-color: #10FFB4;
    transition: 0.2s ease-in-out;
    border-left: 3px transparent solid;
    border-right: 3px transparent solid;
  }
  
  .button2:hover {
    color: #10FFB4;
    background-color: black;
    border-left: #10FFB4 3px solid;
    border-right: #10FFB4 3px solid;
  }
  
  .button3 {
    color: white;
    background: linear-gradient(to right, #8041F2, #3095ED);
    border-radius: 8px;
    transition: 0.2s ease-in-out;
  }
  
  .button3:hover {
    border-radius: 30px;
  }
  
  @media (min-width: 417px) and (max-width: 567px) {
    h1 {
      font-size: 2em;
    }
    .container a {
      padding: 15px 30px;
      font: 16px "Montserrat", sans-serif;
    }
  }
  
  @media (min-width: 568px) {
    h1 {
      font-size: 3em;
    }
    .container a {
      padding: 15px 50px;
      font: 20px "Montserrat", sans-serif;
    }
  }

  .button-block {
    width: 600px;
    margin: 200px auto;
  }
  .social {
    display: inline-block;
    margin: 30px;
    cursor: pointer;
  }
  .social a {
    display: block;
    background: black;
    padding: 20px;
    position: relative;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
  }
  .social a::before {
    dislpay: block;
    content: "";
    position: absolute;
    width: 20px;
    height: 100%;
    left: -20px;
    top: 10px;
    background: rgba(0, 0, 0, 0.7);
    transform: rotate(0deg) skewY(-45deg);
  }
  .social a::after {
    dislpay: block;
    content: "";
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    transform: rotate(0deg) skewX(-45deg);
    background: rgba(0, 0, 0, 0.7);
    transform: rotate(45deg) scewY(-45deg);
  }
  .social a:hover {
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 30px rgba(0, 0, 0, 0.5);
  }
  .social a i {
    color: white;
    font-size: 30pt;
  }